/* CLASSES GENERALES */

body {
  font-size:16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  color : #3A3A3A;
}

strong {
  font-weight: bold;
}

.hidden {
  display:hidden;
}

h1,h2,h3,h4,h5 {
  font-weight: bold;
}

h1 {
  margin: 30px auto;
  font-size: 2em;
}
h2 {
  margin: 30px auto 20px; 
  font-size: 1.5em;
}
h3 {
  margin: 20px auto 10px;
  font-size: 1.2em;
}
p {
  margin-bottom:15px;
}

li {
  margin: 7px auto;
}
li:last-child {
  margin-bottom: 15px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color:black;
}

/* HEADER */

/* MAIN */
.main {
  position: relative;
  display:flex;
  max-width: 1400px;
  margin: 0 auto;
}


/* NAV */

.nav {
  width: 280px;
  box-sizing: border-box;
  position:sticky;
  top:0;
  align-self: flex-start;
}

.nav__item {
  display:block;
  margin:10px;
}

.nav__item--active > a{
  font-weight: bold;
  /* border-bottom: 1px solid red; */
}

.nav--sub {
  /* display:none; */
}

.nav__item:hover > .nav--sub{
  display:block;
}

.nav--sub .nav__item {
  text-indent: 15px;
}


/* CONTENT */
.main__content {
  width: 50%;
  padding: 20px;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
}
.content__title {
  text-align: center;
}

.main__content ul, 
.main__content ol {
  box-sizing: border-box;
  padding: 5px 10px 5px 20px;
  background: #fffac2;
  color: black;
  margin-bottom:5px;
}

.main__content ol {
  list-style: decimal;
}
.main__content ul {
  list-style: initial;
}

/*STYLES DE L'ARTICLE*/

/* Images */

.open-image,
.open-image:hover {
  color: red;
}

.open-image img {
  display:none;
  position: absolute;
  right: 0;
  width: calc(100% - 320px - 50%);
  max-height: 400px;
  object-fit: contain;
  object-position: right;
  margin-top: -1em;
}

.open-image-active {
  text-decoration: underline;
  border-bottom: 1px solid red;
}


.open-image-active img {
  display:block;
}

.open-image-active img:hover {
  max-height: 100%;
  z-index: 10;
  width: auto;
}

/* RESPONSIVE */
@media (max-width: 768px) { 
  .nav {
    width: 0px;
    overflow: hidden;
  }
  .main__content {
    width: 100vw;
    overflow: hidden;
    border: 0px;
    padding: 10px;
  }
  h1 {
    margin: 15px auto;
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  .open-image {
    position:relative;
  }
  .open-image img {
    width:100%;
    left: 0;
    min-width:150px;
    bottom: 100%;
  }
}


@media (min-width: 769px) { 
  .open-image:hover {
    border-bottom: 1px solid red;
  }
  .open-image:hover img {
    display:block;
  }
}

